// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}

*{
  transition: all 0.3s ease-in-out;
}


body {
  padding: 0;
  margin: 0;

  &:not(.home){
    #content-area{
      .container-xxl{
        @media (max-width: 767px){
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }

  #banner-cta{
    .custom-maxwidth-lg{
      max-width: 847px;

      .shadow{
        a{
          &:hover{
            span{
              color: $orange !important;
            }  
          }
        }
      }

      @media (min-width: 768px){
        margin-top: -2.8rem;
      }
      @media (max-width: 767px){
        margin-top: -4rem;

        .shadow{
          box-shadow: none !important;
  
          a{
            box-shadow: var(--bs-box-shadow) !important;
            border-radius: var(--bs-border-radius-xxl) !important;
            background-color: $white;
          }
        }
      }
    }
  }

  .banner-cta-btns{
    .banner-cta-btn{
      &:first-of-type{
        border-right: 2px solid $darkgrey;

        @media (max-width: 767px){
          border-right: none;
        }
      }
    }
  }

  header{
    .social-icons{
      a{
        font-size: 1.2rem;
      }
    }

    .navbar.navbar-expand-md{
      .navbar-brand{
        @media (max-width: 767px){
          max-width: 200px;
        }
      }
      #navbarCollapse{
        @media (max-width: 767px){
          opacity: 0;

          &.show{
            opacity: 1;
          }

          &.collapsing{
            opacity: 0;
          }
        }
      }
      ul.navbar-nav{
        li{
          text-align: center;
        }

        @media (max-width: 767px){
          display: none !important;
          margin-top: 1rem;
          margin-bottom: 0 !important;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: $lightblue;

          li{
            font-weight: 700;
            font-size: 1rem;

            &:hover,
            &.selected{
              background-color: $orange;
            }

            a{
              color: $white;
            }
          }
        }

        @media (min-width: 768px){
          margin-top: 0rem;
          li{
            border-right: 2px solid $darkgrey;
            line-height: 0.8rem;
            font-size: 1rem;
  
            &:last-child{
              border-right: none;
  
              a{
                padding-right: 0;
              }
            }
  
            a{
              padding:0 0.8rem;
            }
  
            &.selected{
              a{
                color: $lightblue;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .banner-cta-btns{
    a{
      font-size: 1.4rem;
      
      @media (max-width: 767px){
        font-size: 1.2rem;
      }
    }
  }

  .social-icons{
    a{
      font-size: 1.5rem;
    }
  }

  .company-address{
    p{
      font-size: 1.3rem;

      @media (max-width: 991px){
        font-weight: 400;
        
        span{
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
        }
      }

      @media (max-width: 767px){
        font-size: 0.8rem;
      }
    }
  }

  .footer-nav{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      justify-content: center; 

      li{
        padding: 0 1.5rem;
        border-right: 2px solid $white;
        font-size: 1.3rem;
        line-height: 1rem;
        width: auto !important;
        

        &:last-child{
          border-right: none;
        }

        &.selected{
          a{
            color: $black;
          }
        }

        @media (max-width: 991px){
          width: auto !important;
          padding: 0 0.5rem;
        }

        @media (max-width: 767px){
          font-size: 1rem;
        }

        @media (min-width:476px) and (max-width: 575px){
          &:nth-child(5){
            border-right: none;
          }
        }
        @media (min-width:362px) and (max-width: 475px){
          &:nth-child(4){
            border-right: none;
          }
        }
        @media (max-width: 361px){
          &:nth-child(3){
            border-right: none;
          }
        }

      }
    }
  }

  .copyright-text{
    p{
      font-size: 1.3rem;

      @media (max-width: 767px){
        font-size: 0.9rem;
      }
    }
  }

  .cta-card{
    .card{
      .card-body{
        h5{
          font-size: 2.5rem;

          @media (max-width: 767px){
            font-size: 2.3rem;
          }
        }

        img{
          @media (max-width: 767px){
            max-width: 80%;
          }
        }
      }
    }
  }

  .custom-sm-max-width{
    @media (max-width: 767px){
      max-width: 372px !important;
    }
  }

  .mobile-menu-container{
    top:-100%;
    opacity: 0;
    pointer-events: none;

    &.show{
      top: 0;
      opacity: 1;
      pointer-events: auto;
    }

    .mob-menu-close{
      font-size: 1.5rem;
    }

    ul.mob-menu{
      list-style-type: none;

      li{
        font-size: 1.3rem;

        .d-block{
          max-width: 352px;
          border-radius: 20px;
          padding: 0.5rem 0;
          font-size: 1rem;
          font-weight: 600;
        }

        &.active{
          a{
            color: $black;
            font-weight: 700;
          }
        }
      }
    }
    .phone-num{
      font-size: 1.2rem;
      font-weight: 700; 

      i{
        font-size: 1rem;
      }
    }
  }

  .banner-content{
    .banner-text{
      top:0;
      left:0;
    }
  }

  #gcalendar{
    *{
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      line-height: 1rem;
    }
    h2{
      font-size: 2rem;
      font-weight: 900;
    }
    a{
      color: $black;
    }
    .fc-header-toolbar{
      @media (min-width:500px) and (max-width: 767px){
        gap: 20px;
        flex-wrap: wrap;

        .fc-toolbar-chunk{
          &:nth-child(1){
            order: 2;
          }
          &:nth-child(2){
            order: 1;
            flex: 0 0 100%;
            
            h2{
              width: 100%;
              text-align: center;
            }
          }
          &:nth-child(3){
            order: 3;
          }
        }
      }
      @media (max-width: 499px){
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;

        .fc-toolbar-chunk{
          &:nth-child(1){
            order: 2;
          }
          &:nth-child(2){
            order: 1;
          }
          &:nth-child(3){
            order: 3;
          }
        }
      }
    }
  }

}


